POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=local_user
POSTGRES_DB=local_db
POSTGRES_PASSWORD=local_password

DATABASE_URL=postgresql://local_user:local_password@localhost:5432/local_db?schema=public

NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1

BETTER_AUTH_SECRET=2e34adeeb645396e668f2d261e9caee98d5ffcfa8c2b6081d10cfcf819c0aa84
